<div class=col-10 offset-1 about>

  <h2>Details on this App</h2>

  <p>
    This App was built by <a target="_blank" href="https://marysmithnew2.netlify.com">Mary Smith</a>. A student with a mission to learn Web Development.
  </p>
  <p>
    She is currently working hard at a coding bootcamp to master these new skills.
  </p>
  <p>
    If you want to learn how to code - start here at <a target="_blank" href="https://online.bootcampspot.com"> this coding bootcamp</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mary Smith</h2>
      <br />
      <p>
        No bio yet - wait until I produce something really good then I will write about myself.  But you have admit - really nice looking german shepard!
      </p>
    </div>
  </div>
  <br class="clear" />
  <br/>
  <br/>
  <br/>
  <br/>
</div>