<div class=col-10 offset-1 about>

  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://marysmithnew2.netlify.com">Mary Smith</a>. A web developer student with a mission to learn how to creat very cool apps.
  </p>
  <p>
    She is currently working hard at a coding boot campt to master these new skills.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mary Smith</h2>
      <br />
      <p>
        Mary Smith is a web developer Student. She has not consulted for any Fortune 500 companies
      </p>
    </div>
  </div>
  <br class="clear" />
  <br/>
  <br/>
  <br/>
  <br/>
</div>