/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url(asset_path("bg3.jpg"));
  color:  black;
  /* Set the fixed height of the footer here */
  height: 60px;
}

